*.class
*.classpath
*.apk
*.ap_
*.dex
*.project
*.ini
*.svg
proguard.cfg
project.properties
lint.xml
apikeys.xml
bin/
gen/
libs/
proguard/
proguard_logs/
.dropbox
.aidedropbox
.idea/
.settings
PopupPlaces.iml
module_popupplaces.xml
out/
popupplaces.properties
popupplaces.xml
